@import 'css/estilosBase.css';

.item{
    border-radius: 45px;
    border: 1px solid black;
}

.items{
    border-radius: 15px;
    border: 1px solid black;
}

.tarjetaCara{
    border: 2px solid var(--color-primario);
    border-radius: 30px;
}

.id{
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    width: 7rem;
    height: 2rem;
    color: black;

    display: flex;
    align-items: center;
    justify-content: center;
}

.castrado{
    border: 2px solid var(--color-secundario);
    width: 7rem;
    height: 2rem;
    color: black;
    font-size: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cardDueño{
    background-color: var(--color-primario);
    border-radius: var(--borde-redondo-tarjeta);
    padding: 2rem;
}

/* Móvil */
@media (max-width: 767.98px) {
    .imagenes{
        display: none;
    }

    .rowPC{
        display: none;
    }
}

/* PC */
@media (min-width: 992px) {
    .rowMovil{
        display: none;
    }
}